# Distribution / packaging / environment
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/
.env
.vscode/
.venv/
Pipfile
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__/
generic_uploader/__pycache__/
*.py[cod]

# PyInstaller
*.manifest
*.spec

# other stuff:
*.log
dicm2nii.log
app.log
derivatives

